html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.anim {
  position: relative;
  display: flex;

  width: 100vw;
  height: 100vh;
  background-color: black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
  padding: 10px;
  position: relative;
  /* Add this line */
  z-index: 1;
  /* Add this line */
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.links {
  display: flex;
  gap: 10px;
}

.links a {
  text-decoration: none;
  color: black;
}
.welcome-text {
  padding-top: 50px;
  text-align: center;
}

.welcome-text h1 {
  font-size: 3rem;
  color: white;
}
